{
  BasedOnStyle: Chromium,
  ColumnLimit: 120,
  AllowShortIfStatementsOnASingleLine: true,
  AllowAllParametersOfDeclarationOnNextLine: true,
  BinPackArguments: false,
  AlignAfterOpenBracket: false,
  MaxEmptyLinesToKeep: 2,
}
