{
  BasedOnStyle: Chromium,
  ColumnLimit: 90,
  AllowShortIfStatementsOnASingleLine: true,
  AllowAllParametersOfDeclarationOnNextLine: true,
  BinPackArguments: false,
  AlignAfterOpenBracket: false,
}
